body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e97e7e;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px;
    background-color: #f4f4f4;
}
.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}