body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e97e7e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px;
    background-color: #f4f4f4;
}
.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}